/* css default */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'PT Sans', sans-serif;
}

main {
    padding-top: 80px;
}

section {
    margin-top: 50px;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: auto;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/* flex */

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.column {
    flex-direction: column;
    width: 100%;
}


.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

/* /flex */

/* shared */

.card {
    border-radius: 25px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.card.text-left {
    text-align: left;
}

.card-row {
    border-radius: 25px;
    text-align: center;
    background-color: #9792e4;
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
}

/* /shared */

/* content */

/* header*/
header {
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
    z-index: 999;
}

.menu {
    color: #fff;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

#button {
    color: black;
    font-weight: 600;
    border-radius: 20px;
    background-color: white;
    padding: 5px 15px;
}

header .fa-bars,
header img {
    vertical-align: middle;
}

/* /header*/

/*main*/

section:nth-of-type(even) {
    background-color: #9792e4;
}


/* product-presentation */

#product-presentation .column {
    width: calc(100% / 3);
    padding: 0 10px;
}

#product-presentation .column:first-child {
    width: calc(100% / 3 * 2);
}

#product-presentation .card,
.card-demo {
    background-color: #b5ddff;
}

#product-presentation .card,
.card-demo {
    height: 360px;
}

#product-presentation img {
    width: 50%;
}

#product-presentation .card-demo {
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

.demo {
    flex-direction: column;
    justify-content: space-evenly;
}

#product-presentation h2 {
    color: #0084fd;
}

#product-presentation p {
    font-weight: 600;
    color: #6a6a6a;
}

#product-presentation .fa-solid {
    font-size: 70px;
    color: #0084fd;
}

#product-presentation #apple {
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 100px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    background-color: #0084fd;
}

#product-presentation .fa-apple {
    margin-right: 10px;
}

/* /product-presentation */

/* planning */

#planning .container {
    width: 900px;
    height: 900px;
}

#planning .column-card {
    width: calc(100% / 2);
    height: calc(100% / 2)
}

#planning .strategic {
    height: 800px;
    margin-right: 40px;
    color: #fff;
    background-color: #9792e4;
}

#planning .container .column-card:last-of-type {
    align-self: flex-end;
    line-height: 2rem;
    margin-bottom: 60px;
    margin-left: 40px;
    height: 550px;
}

#planning .container .column-card:last-of-type p {
    font-weight: 600;
    color: #6a6a6a;
    font-style: italic;
}

.fa-arrow-down-long {
    border-radius: 50%;
    padding: 12px 17px;
    background-color: #9792e4;
    align-self: center;
}

.fa-fw {
    width: auto;
}

/* /planning */

/*testimonials*/

#testimonials img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#testimonials h1 {
    color: #9792e4;
    font-size: 35px;
}

#testimonials .card {
    line-height: 2;
}

#testimonials .card p {
    font-weight: 600;
    color: #6a6a6a;
}

#testimonilas .card-row {
    background-color: #9792e4;
}

.end {
    color: #fff;
    padding: 5%;
    text-align: start;
    line-height: 2;
}

.end h3 {
    font-weight: 600;
}

.quote:after,
.quote:before {
    color: #fff;
    vertical-align: bottom;
    line-height: 0;
    font-size: 60px;
}

.quote:before {
    content: open-quote;
}

.quote:after {
    content: close-quote;
}

/*/testimonials*/

/*benefits*/

#benefits {
    background-color: #9792e4;
}

/*/benefits*/

/*getstarted*/

#getstarted {
    text-align: center;
}

/*/getstarted*/

/*aboutus*/

#aboutus img {
    width: 30%;
    clip-path: circle(50%);
    position: relative;
}

.fa-quote-left {
    position: absolute;
    right: 40%;
    font-size: 70px;
    color: #9792e4;
}

/*/aboutus*/

/* footer */

footer {
    text-align: center;
    color: white;
    background-color: #333333;
    align-items: center;
}

footer p {
    text-align: center;
}

/* /footer */


/***** debug *****/

.debug footer {
    min-height: 160px;
}


.debug .card {
    height: 100%;
}